.card{
    border-radius: 10px;
    background-color: lightgrey
}

.card h3 {
    color: white;
}

.saved-list{
    border-radius: 15px;
    background-color: lightyellow
}

.deleteBook {
    border-radius: 5px;
    margin-left: 10px
}

.viewBook {
    border-radius: 5px;
    margin-left: 5px
}

.bookDescription, .bookTitle {
    color: black;
}

@media screen and (max-width: 768px) {
    .saved-list {
        margin: 0;
        margin-bottom: 5%;
    }
}