.card{
    border-radius: 10px;
    background-color: rgb(71, 71, 71);
    color: white;
}

.search-list{
    border-radius: 15px;
    background-color: lightblue;
    padding: 30px;
    margin: 30px;
}

.saveBook {
    border-radius: 5px;
    margin-left: 10px
}

.viewBook {
    border-radius: 5px;
    margin-left: 5px
}

.bookImage {
    width: 200px;
}

@media screen and (max-width: 768px) {
    .search-list {
        margin: 0;
        margin-bottom: 5%;
    }
}